<form method="post" class="form-grid">
    {% csrf_token %}

    <div>
        <label>Сума</label>
        {{ form.amount }}
        {{ form.amount.errors }}
    </div>

    <div>
        <label>Назва або опис витрати</label>
        {{ form.description }}
        {% if form.description.help_text %}
            <div class="help">{{ form.description.help_text }}</div>
        {% else %}
            <div class="help">
                Введіть назву операції, товару або послуги. Наприклад: кава, торт, сукня, таксі, аптека.
            </div>
        {% endif %}
        {{ form.description.errors }}
    </div>

    <div>
        <label>Категорія</label>
        {{ form.category }}
        {% if form.category.help_text %}
            <div class="help">{{ form.category.help_text }}</div>
        {% else %}
            <div class="help">
                Залиште “Автоматично”, щоб система сама визначила категорію за назвою витрати.
            </div>
        {% endif %}
        {{ form.category.errors }}
    </div>

    <div>
        <label>Коментар</label>
        {{ form.notes }}
        {% if form.notes.help_text %}
            <div class="help">{{ form.notes.help_text }}</div>
        {% else %}
            <div class="help">
                Необов’язкове поле. Можна залишити порожнім.
            </div>
        {% endif %}
        {{ form.notes.errors }}
    </div>

    <button type="submit" class="btn">Зберегти витрату</button>
</form>